.experience {
  background-color: white;
  width: 100%;
  height: auto;
  margin-top: 35px;
  text-align: center;
  padding-bottom: 35px;

  h2 {
    padding: 10px;
  }

  ul {
    list-style: none;
    padding: 0px;
  }
}
