@font-face {
  font-family: "MonaspaceNeon";
  src: url("/fonts/monaspace/MonaspaceNeon-Regular.woff2") format("woff2"),
    url("/fonts/monaspace/MonaspaceNeon-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgb(240, 240, 240);
  margin: 0 auto;
  padding: 0 0;

  font-family: "MonaspaceNeon", sans-serif;
}

.hero-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;

  .image-container {
    flex: 0 0 500px;
    height: 550px;
    margin-left: 20px;
    padding: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    }
  }

  .main {
    flex: 1;
  }

  .main-text {
    background-color: white;
    border-radius: 0px 20px 20px 0px;
    padding: 20px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    margin-right: 20px;

    h1 {
      margin-bottom: 0px;
    }

    p {
      margin-top: 0px;
      line-height: 1.5;
      color: rgb(92, 92, 92);

      &::first-letter {
        background: linear-gradient(to bottom, #f48fb1, #ff5722);
        font-size: xx-large;
        line-height: 1;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .contact {
    margin-left: 20px;
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      align-items: center;

      li {
        margin-right: 25px;

        svg {
          color: #585858;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
