@font-face {
  font-family: "MonaspaceNeon";
  src: url("/fonts/monaspace/MonaspaceNeon-Regular.woff2") format("woff2"),
    url("/fonts/monaspace/MonaspaceNeon-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgb(240, 240, 240);
  margin: 0 auto;
  padding: 0 0;

  font-family: "MonaspaceNeon", sans-serif;
}

.lander {
  width: 100%;
  overflow: hidden;

  .image-container {
    width: 500px;
    height: 550px;
    float: right;
    margin-left: 20px;
    position: relative;
    padding: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    }
  }

  .lander-main-text {
    margin-right: 20px;
    float: left;
    width: calc(100% - 540px);
    position: relative;
    top: 240px;
    background-color: white;
    border-radius: 0px 20px 20px 0px;
    padding: 0px 10px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);

    h1 {
      margin-bottom: 0px;
    }

    p {
      margin-top: 0px;
      line-height: 1.5;

      &::first-letter {
        background: linear-gradient(to bottom, #f48fb1, #ff5722);
        font-size: xx-large;
        line-height: 1;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .contacts {
    top: 240px;
    padding: 10px;
    position: relative;
    clear: both;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 20px;
      display: flex;
      justify-content: flex-start;
    }

    li {
      margin: 0;
      padding: 0;
    }

    a {
      display: inline-flex;
      color: rgba(0, 0, 0, 0.2);
      align-items: center;
      justify-content: center;
    }
  }
}
